<h2><%= t('.test_passing') %><%= @test_passage.test.title %> Test</h2>
<h2><%= t('.counter', current_question_position: @test_passage.current_question_position, questions_count: @test_passage.test.questions.count) %></h2>

<b>
  <%= @test_passage.current_question.body %>
</b>

<div class="progress">
  <div class="progress-bar" id="progress-bar" data-progress="<%= @test_passage.progress_percent %>">
    <%= @test_passage.progress_percent %>
  </div>
</div>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ads_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>