<nav class="navbar navbar-light bg-light">
  <%= link_to t('.project'), root_path, class: 'navbar-brand' %>
  <% if current_user.present? && current_user.admin?  %>
    <%= link_to t('.tests_control'), admin_tests_path, class: 'navbar-brand' %>
    <%= link_to t('.badges_control'), admin_badges_path, class: 'navbar-brand' %>
    <%= link_to t('.gists'), admin_gists_path, class: 'navbar-brand' %>
  <% end %>

  <div class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome', user: current_user.first_name.empty? ? current_user.email : current_user.first_name) %>
      <%= link_to t('.badges'), badges_path, class: "btn btn-outline-primary btn-sm" %>
      <%= link_to t('.logout'), destroy_user_session_path, class: "btn btn-outline-primary btn-sm", method: :delete %>
    <% else %>
        <%= link_to t('.signup'), new_user_registration_path, class: "btn btn-outline-primary btn-sm" %>
        <%= link_to t('.login'), new_user_session_path, class: "btn btn-outline-primary btn-sm" %>
    <% end %>
  </span>
</nav>