<h2><%= t('.header') %></h2>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.answer_header') %></b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.correctly') %></b>
  <%= @answer.correct %>
</p>

<%= link_to t('.back'), admin_question_path(@answer.question) %>
