<h2><%= t('.question_header', question: @question.body) %></h2>

<h3><%= t('.answers_list') %></h3>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.edit'), edit_admin_question_path(@question) %>
<%= link_to t('.delete'), admin_question_path(@question), method: :delete, data: { confirm: t('.del_confirm') } %>
<%= link_to t('.back'), admin_test_path(@question.test) %>