<p>
  <strong><%= t('.test_header') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level_header') %></strong>
  <%= @test.level %>
</p>

<strong><%= t('.questions_header') %></strong>
<table>
  <%= render @questions %>
</table>
<br>
<%= link_to t('.edit_test'), edit_admin_test_path(@test) %> |
<%= link_to t('.add_question'), new_admin_test_question_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>